src/workflows/workflow_main.json
{
  "name": "Master Workflow - Multi-User Job Automation (Production)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process",
        "responseMode": "lastNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "w001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.headers[\"x-automation-secret\"] }}",
              "operation": "equals",
              "value2": "={{ $env.WEBHOOK_SECRET }}"
            }
          ]
        }
      },
      "id": "w002",
      "name": "IF - Auth Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        440,
        600
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "error"
            },
            {
              "name": "message",
              "value": "Unauthorized: invalid x-automation-secret"
            }
          ],
          "number": [
            {
              "name": "statusCode",
              "value": 401
            }
          ]
        },
        "options": {}
      },
      "id": "w003",
      "name": "Set - 401",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        700,
        900
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT user_id, full_name, email, email_mode, hourly_email_limit, daily_email_limit, api_key_hash FROM users WHERE user_id = '{{ $json.headers[\"x-user-id\"] }}'::uuid LIMIT 1;"
      },
      "id": "w004",
      "name": "Postgres - Validate User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        700,
        600
      ],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const user = $input.first().json;\nif (!user || !user.user_id) throw new Error(\"User not found: \" + $(\"Webhook\").first().json.headers[\"x-user-id\"]);\nconst apiKey = $(\"Webhook\").first().json.headers[\"x-user-api-key\"] || \"\";\nif (!user.api_key_hash) { /* first-time user, skip key check */ }\nelse if (apiKey !== user.api_key_hash) throw new Error(\"Invalid API key for user \" + user.user_id);\nreturn [{ json: { ...user, _request_body: $(\"Webhook\").first().json.body } }];"
      },
      "id": "w005",
      "name": "Validate - User Auth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        600
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._request_body.action }}",
                    "rightValue": "resume_upload",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputIndex": 0
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._request_body.action }}",
                    "rightValue": "analyze_job",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputIndex": 1
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._request_body.action }}",
                    "rightValue": "dispatch_email",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputIndex": 2
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._request_body.action }}",
                    "rightValue": "process_inbound",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputIndex": 3
            }
          ]
        },
        "fallbackOutput": "extra"
      },
      "id": "w010",
      "name": "Switch - Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1200,
        600
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "error"
            },
            {
              "name": "message",
              "value": "Unknown action. Use resume_upload, analyze_job, dispatch_email, or process_inbound."
            }
          ],
          "number": [
            {
              "name": "statusCode",
              "value": 400
            }
          ]
        },
        "options": {}
      },
      "id": "w011",
      "name": "Set - 400 Bad Action",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        1460,
        1300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO workflow_logs (request_id, user_id, module_name, execution_id, status, input_summary) VALUES (gen_random_uuid(), '{{ $json.user_id }}'::uuid, 'resume_ingestion', '={{ $execution.id }}', 'STARTED', '{\"file_path\": \"{{ $json._request_body.data.file_path }}\"}'::jsonb);"
      },
      "id": "r000",
      "name": "Log - Resume Start",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1460,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "command": "=python3 /app/scripts/resume_text.py --file \"{{ $(\"Validate - User Auth\").first().json._request_body.data.file_path }}\""
      },
      "id": "r100",
      "name": "Exec - Extract Resume",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1700,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.stdout;\nconst parsed = JSON.parse(raw);\nif (parsed.error) throw new Error(\"Resume extraction failed: \" + parsed.error);\nif (!parsed.raw_text || parsed.char_count < 100) throw new Error(\"Resume text too short: \" + parsed.char_count);\nreturn [{ json: parsed }];"
      },
      "id": "r101",
      "name": "Validate - Resume Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1940,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_API_URL }}/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"{{ $env.OLLAMA_MODEL }}\",\"max_tokens\":{{ $env.OLLAMA_MAX_TOKENS || 4096 }},\"temperature\":0.1,\"messages\":[{\"role\":\"system\",\"content\":\"You are a resume data extractor. Extract STRICT JSON matching this schema exactly:\\\\n{\\\"full_name\\\":string(REQUIRED),\\\"email\\\":string(REQUIRED),\\\"phone\\\":string|null,\\\"skills\\\":[string](REQUIRED,non-empty),\\\"experience\\\":[{\\\"title\\\":string,\\\"company\\\":string,\\\"description\\\":string}],\\\"projects\\\":[{\\\"name\\\":string,\\\"description\\\":string,\\\"technologies\\\":[string]}],\\\"education\\\":[{\\\"degree\\\":string,\\\"institution\\\":string,\\\"year\\\":string}],\\\"certifications\\\":[string],\\\"preferred_roles\\\":[string]}\\\\nReturn ONLY valid JSON. No markdown fences.\"},{\"role\":\"user\",\"content\":{{ JSON.stringify($json.raw_text) }}}]}",
        "options": {
          "timeout": "={{ Number($env.OLLAMA_TIMEOUT_MS) || 120000 }}"
        }
      },
      "id": "r102",
      "name": "Ollama - Structure Resume",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2180,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst content = resp.choices[0].message.content;\nlet parsed; try { parsed = JSON.parse(content); } catch(e) { throw new Error(\"LLM invalid JSON: \" + content.substring(0,500)); }\nif (!parsed.full_name) throw new Error(\"Missing full_name\");\nif (!parsed.email || !parsed.email.includes(\"@\")) throw new Error(\"Missing/invalid email\");\nif (!Array.isArray(parsed.skills) || parsed.skills.length === 0) throw new Error(\"skills must be non-empty array\");\nparsed.raw_resume_text = $(\"Validate - Resume Text\").first().json.raw_text;\nparsed._llm_model = resp.model || \"\";\nparsed._llm_tokens = resp.usage || null;\nparsed._user_id = $(\"Validate - User Auth\").first().json.user_id;\nreturn [{ json: parsed }];"
      },
      "id": "r103",
      "name": "Validate - Resume Schema",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE users SET full_name='{{ $json.full_name }}', phone='{{ $json.phone }}', skills='{{ JSON.stringify($json.skills) }}'::jsonb, experience='{{ JSON.stringify($json.experience) }}'::jsonb, projects='{{ JSON.stringify($json.projects) }}'::jsonb, education='{{ JSON.stringify($json.education) }}'::jsonb, certifications='{{ JSON.stringify($json.certifications) }}'::jsonb, preferred_roles='{{ JSON.stringify($json.preferred_roles) }}'::jsonb, raw_resume_text='{{ $json.raw_resume_text }}', updated_at=NOW() WHERE user_id='{{ $json._user_id }}'::uuid RETURNING user_id;"
      },
      "id": "r104",
      "name": "Postgres - Upsert User Resume",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2660,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO workflow_logs (user_id, module_name, execution_id, status, llm_model_used, token_usage) VALUES ('{{ $json.user_id }}'::uuid, 'resume_ingestion', '={{ $execution.id }}', 'SUCCESS', '={{ $(\"Validate - Resume Schema\").first().json._llm_model }}', '={{ JSON.stringify($(\"Validate - Resume Schema\").first().json._llm_tokens) }}'::jsonb);"
      },
      "id": "r105",
      "name": "Log - Resume Success",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2900,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "module",
              "value": "resume_ingestion"
            },
            {
              "name": "user_id",
              "value": "={{ $json.user_id }}"
            }
          ],
          "number": []
        },
        "options": {}
      },
      "id": "r106",
      "name": "Set - Resume OK",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        3140,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO workflow_logs (user_id, module_name, execution_id, status, input_summary) VALUES ('{{ $json.user_id }}'::uuid, 'job_pipeline', '={{ $execution.id }}', 'STARTED', '{\"job_url\": \"{{ $json._request_body.data.job_url }}\"}'::jsonb);"
      },
      "id": "j000",
      "name": "Log - Job Start",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1460,
        600
      ],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "command": "=python3 /app/scripts/selenium_scraper.py --url \"{{ $(\"Validate - User Auth\").first().json._request_body.data.job_url }}\" --type job"
      },
      "id": "j100",
      "name": "Exec - Scrape Job",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1700,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.stdout;\nconst parsed = JSON.parse(raw);\nif (parsed.error) throw new Error(\"Scraper error: \" + parsed.error);\nif (!parsed.raw_text || parsed.raw_text.length < 50) throw new Error(\"Scraped text too short\");\nreturn [{ json: parsed }];"
      },
      "id": "j101",
      "name": "Validate - Scrape",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1940,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_API_URL }}/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"{{ $env.OLLAMA_MODEL }}\",\"max_tokens\":{{ $env.OLLAMA_MAX_TOKENS || 4096 }},\"temperature\":0.1,\"messages\":[{\"role\":\"system\",\"content\":\"You are a job posting normalizer. Extract STRICT JSON:\\\\n{\\\"company_name\\\":string(REQUIRED),\\\"industry\\\":string|null,\\\"location\\\":string|null,\\\"job_title\\\":string(REQUIRED),\\\"required_skills\\\":[string](REQUIRED),\\\"experience_level\\\":string|null,\\\"employment_type\\\":string|null,\\\"description_summary\\\":string(2-3 sentences,REQUIRED),\\\"tech_stack\\\":[string],\\\"hr_contact_name\\\":string|null,\\\"hr_email\\\":string|null}\\\\nReturn ONLY valid JSON.\"},{\"role\":\"user\",\"content\":{{ JSON.stringify($json.raw_text) }}}]}",
        "options": {
          "timeout": "={{ Number($env.OLLAMA_TIMEOUT_MS) || 120000 }}"
        }
      },
      "id": "j102",
      "name": "Ollama - Normalize Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2180,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst content = resp.choices[0].message.content;\nlet parsed; try { parsed = JSON.parse(content); } catch(e) { throw new Error(\"LLM normalize invalid JSON: \" + content.substring(0,500)); }\nif (!parsed.company_name) throw new Error(\"Missing company_name\");\nif (!parsed.job_title) throw new Error(\"Missing job_title\");\nif (!Array.isArray(parsed.required_skills)) parsed.required_skills = [];\nparsed.job_url = $(\"Validate - Scrape\").first().json.job_url;\nparsed.raw_text = $(\"Validate - Scrape\").first().json.raw_text;\nparsed._llm_model = resp.model || \"\";\nreturn [{ json: parsed }];"
      },
      "id": "j103",
      "name": "Validate - Job Schema",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        600
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO companies (company_name, industry, location, hr_contact_name, hr_email, tech_stack, last_scraped_at) VALUES ('{{ $json.company_name }}','{{ $json.industry }}','{{ $json.location }}','{{ $json.hr_contact_name }}','{{ $json.hr_email }}','{{ JSON.stringify($json.tech_stack) }}'::jsonb, NOW()) ON CONFLICT (company_name) DO UPDATE SET industry=EXCLUDED.industry, hr_contact_name=EXCLUDED.hr_contact_name, hr_email=EXCLUDED.hr_email, tech_stack=EXCLUDED.tech_stack, last_scraped_at=NOW() RETURNING company_id;"
      },
      "id": "j104",
      "name": "Postgres - Upsert Company",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2660,
        600
      ],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO jobs (company_id, title, job_url, description_raw, description_summary, required_skills, experience_level, employment_type, location) VALUES ('{{ $json.company_id }}'::uuid, '{{ $(\"Validate - Job Schema\").first().json.job_title }}', '{{ $(\"Validate - Job Schema\").first().json.job_url }}', '{{ $(\"Validate - Job Schema\").first().json.raw_text }}', '{{ $(\"Validate - Job Schema\").first().json.description_summary }}', '{{ JSON.stringify($(\"Validate - Job Schema\").first().json.required_skills) }}'::jsonb, '{{ $(\"Validate - Job Schema\").first().json.experience_level }}', '{{ $(\"Validate - Job Schema\").first().json.employment_type }}', '{{ $(\"Validate - Job Schema\").first().json.location }}') ON CONFLICT (job_url) DO UPDATE SET description_raw=EXCLUDED.description_raw, description_summary=EXCLUDED.description_summary, required_skills=EXCLUDED.required_skills, updated_at=NOW() RETURNING job_id;"
      },
      "id": "j105",
      "name": "Postgres - Upsert Job",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2900,
        600
      ],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const user = $(\"Validate - User Auth\").first().json;\nconst job = $(\"Validate - Job Schema\").first().json;\nconst job_id = $(\"Postgres - Upsert Job\").first().json.job_id;\nconst company_id = $(\"Postgres - Upsert Company\").first().json.company_id;\nreturn [{ json: { user, job, job_id, company_id } }];"
      },
      "id": "j107",
      "name": "Merge - Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3140,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_API_URL }}/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"{{ $env.OLLAMA_MODEL }}\",\"max_tokens\":{{ $env.OLLAMA_MAX_TOKENS || 4096 }},\"temperature\":0.2,\"messages\":[{\"role\":\"system\",\"content\":\"You are a career strategist. Analyze candidate-job fit. Return STRICT JSON:\\\\n{\\\"fit_score\\\":integer 0-100(REQUIRED),\\\"gap_analysis\\\":string(REQUIRED),\\\"alignment_report\\\":string(REQUIRED),\\\"strategic_angle\\\":string(2-3 sentences,REQUIRED),\\\"recommended_keywords\\\":[string]}\\\\nReturn ONLY valid JSON.\"},{\"role\":\"user\",\"content\":{{ JSON.stringify(\"CANDIDATE:\\n\" + JSON.stringify($json.user) + \"\\n\\nJOB:\\n\" + JSON.stringify($json.job)) }}}]}",
        "options": {
          "timeout": "={{ Number($env.OLLAMA_TIMEOUT_MS) || 120000 }}"
        }
      },
      "id": "j108",
      "name": "Ollama - Analyze Fit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3380,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst content = resp.choices[0].message.content;\nlet p; try { p = JSON.parse(content); } catch(e) { throw new Error(\"LLM fit invalid JSON\"); }\nif (typeof p.fit_score !== \"number\" || p.fit_score < 0 || p.fit_score > 100) throw new Error(\"fit_score must be 0-100\");\np.fit_score = Math.round(p.fit_score);\nif (!p.gap_analysis) throw new Error(\"Missing gap_analysis\");\nconst ctx = $(\"Merge - Context\").first().json;\np.job_id = ctx.job_id; p.company_id = ctx.company_id; p.user = ctx.user; p.job = ctx.job;\np._llm_model = resp.model || \"\"; p._llm_tokens = resp.usage || null;\nreturn [{ json: p }];"
      },
      "id": "j109",
      "name": "Validate - Fit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3620,
        600
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE jobs SET fit_score={{ $json.fit_score }}, gap_analysis='{{ $json.gap_analysis }}', alignment_report='{{ $json.alignment_report }}', strategic_angle='{{ $json.strategic_angle }}', status=CASE WHEN {{ $json.fit_score }} >= 75 THEN 'ANALYZED' ELSE 'LOW_FIT' END, updated_at=NOW() WHERE job_id='{{ $json.job_id }}'::uuid;"
      },
      "id": "j110",
      "name": "Postgres - Save Fit",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        3860,
        600
      ],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $(\"Validate - Fit\").first().json.fit_score }}",
              "operation": "largerEqual",
              "value2": 75
            }
          ]
        }
      },
      "id": "j111",
      "name": "IF - High Fit",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4100,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_API_URL }}/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"{{ $env.OLLAMA_MODEL }}\",\"max_tokens\":{{ $env.OLLAMA_MAX_TOKENS || 4096 }},\"temperature\":0.3,\"messages\":[{\"role\":\"system\",\"content\":\"You are an ATS resume optimizer. Rewrite the resume for the target job. Rules: 1) Rewrite summary. 2) Reword experience with JD keywords. 3) Reorder skills. 4) Quantify achievements. 5) Do NOT fabricate.\\\\nReturn STRICT JSON: {\\\"tailored_summary\\\":string(REQUIRED),\\\"tailored_experience\\\":[{\\\"title\\\":string,\\\"company\\\":string,\\\"bullets\\\":[string]}](REQUIRED),\\\"tailored_skills\\\":[string](REQUIRED),\\\"ats_score_estimate\\\":integer 0-100}\\\\nReturn ONLY valid JSON.\"},{\"role\":\"user\",\"content\":{{ JSON.stringify(\"Resume: \" + JSON.stringify($(\"Validate - Fit\").first().json.user) + \"\\nJob: \" + JSON.stringify($(\"Validate - Fit\").first().json.job) + \"\\nAngle: \" + $(\"Validate - Fit\").first().json.strategic_angle) }}}]}",
        "options": {
          "timeout": "={{ Number($env.OLLAMA_TIMEOUT_MS) || 120000 }}"
        }
      },
      "id": "h100",
      "name": "Ollama - Tailor Resume",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        4340,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nlet p; try { p = JSON.parse(resp.choices[0].message.content); } catch(e) { throw new Error(\"Tailor invalid JSON\"); }\nif (!p.tailored_summary) throw new Error(\"Missing tailored_summary\");\nif (!Array.isArray(p.tailored_experience)) throw new Error(\"tailored_experience must be array\");\np._raw = resp.choices[0].message.content;\nreturn [{ json: p }];"
      },
      "id": "h101",
      "name": "Validate - Tailor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4580,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_API_URL }}/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"{{ $env.OLLAMA_MODEL }}\",\"max_tokens\":{{ $env.OLLAMA_MAX_TOKENS || 4096 }},\"temperature\":0.7,\"messages\":[{\"role\":\"system\",\"content\":\"You are an AI content humanizer. Rewrite to sound naturally human: vary sentence length, use contractions, remove buzzword stacking.\\\\nReturn STRICT JSON: {\\\"ai_detection_score\\\":integer 0-100,\\\"humanized_text\\\":string(REQUIRED),\\\"changes_made\\\":[string]}\\\\nReturn ONLY valid JSON.\"},{\"role\":\"user\",\"content\":{{ JSON.stringify($json._raw) }}}]}",
        "options": {
          "timeout": "={{ Number($env.OLLAMA_TIMEOUT_MS) || 120000 }}"
        }
      },
      "id": "h102",
      "name": "Ollama - Humanize Resume",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        4820,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nlet p; try { p = JSON.parse(resp.choices[0].message.content); } catch(e) { throw new Error(\"Humanize invalid JSON\"); }\nif (!p.humanized_text) throw new Error(\"Missing humanized_text\");\nconst ctx = $(\"Validate - Fit\").first().json;\np.user_id = ctx.user.user_id; p.job_id = ctx.job_id; p.company_id = ctx.company_id;\np.strategic_angle = ctx.strategic_angle;\np.company_name = ctx.job.company_name; p.job_title = ctx.job.job_title;\np.hr_contact_name = ctx.job.hr_contact_name || \"Hiring Manager\";\np.hr_email = ctx.job.hr_email;\nreturn [{ json: p }];"
      },
      "id": "h103",
      "name": "Validate - Humanized Resume",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5060,
        420
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO applications (user_id, job_id, tailored_resume_text, ai_detection_score, humanization_pass, generation_model, status) VALUES ('{{ $json.user_id }}'::uuid, '{{ $json.job_id }}'::uuid, '{{ $json.humanized_text }}', {{ $json.ai_detection_score || 50 }}, TRUE, '{{ $env.OLLAMA_MODEL }}', CASE WHEN '{{ $(\"Validate - User Auth\").first().json.email_mode }}' = 'AUTO' THEN 'READY' ELSE 'PENDING_REVIEW' END) ON CONFLICT (user_id, job_id, resume_version) DO UPDATE SET tailored_resume_text=EXCLUDED.tailored_resume_text, ai_detection_score=EXCLUDED.ai_detection_score, humanization_pass=TRUE, status=EXCLUDED.status RETURNING application_id;"
      },
      "id": "h104",
      "name": "Postgres - Upsert Application",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        5300,
        420
      ],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_API_URL }}/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"{{ $env.OLLAMA_MODEL }}\",\"max_tokens\":{{ $env.OLLAMA_MAX_TOKENS || 4096 }},\"temperature\":0.6,\"messages\":[{\"role\":\"system\",\"content\":\"You are a cold outreach email specialist. Write a personalized job application email. Reference specific company details, genuine interest, value proposition, clear CTA.\\\\nReturn STRICT JSON: {\\\"subject_line\\\":string(REQUIRED),\\\"email_body\\\":string(150-200 words,REQUIRED),\\\"cta\\\":string}\\\\nReturn ONLY valid JSON.\"},{\"role\":\"user\",\"content\":{{ JSON.stringify(\"To: \" + $(\"Validate - Humanized Resume\").first().json.hr_contact_name + \" at \" + $(\"Validate - Humanized Resume\").first().json.company_name + \"\\nRole: \" + $(\"Validate - Humanized Resume\").first().json.job_title + \"\\nAngle: \" + $(\"Validate - Humanized Resume\").first().json.strategic_angle) }}}]}",
        "options": {
          "timeout": "={{ Number($env.OLLAMA_TIMEOUT_MS) || 120000 }}"
        }
      },
      "id": "h105",
      "name": "Ollama - Draft Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        5540,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_API_URL }}/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"{{ $env.OLLAMA_MODEL }}\",\"max_tokens\":{{ $env.OLLAMA_MAX_TOKENS || 4096 }},\"temperature\":0.8,\"messages\":[{\"role\":\"system\",\"content\":\"You are a human authenticity editor. Make this cold email sound like a real person. Vary sentence length, use contractions, add one subtle personal touch.\\\\nReturn STRICT JSON: {\\\"ai_detection_score\\\":integer 0-100,\\\"humanized_subject\\\":string(REQUIRED),\\\"humanized_body\\\":string(REQUIRED),\\\"changes_made\\\":[string]}\\\\nReturn ONLY valid JSON.\"},{\"role\":\"user\",\"content\":{{ JSON.stringify($input.first().json.choices[0].message.content) }}}]}",
        "options": {
          "timeout": "={{ Number($env.OLLAMA_TIMEOUT_MS) || 120000 }}"
        }
      },
      "id": "h106",
      "name": "Ollama - Humanize Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        5780,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nlet p; try { p = JSON.parse(resp.choices[0].message.content); } catch(e) { throw new Error(\"Email humanize invalid JSON\"); }\nif (!p.humanized_subject) throw new Error(\"Missing humanized_subject\");\nif (!p.humanized_body) throw new Error(\"Missing humanized_body\");\np.application_id = $(\"Postgres - Upsert Application\").first().json.application_id;\nreturn [{ json: p }];"
      },
      "id": "h107",
      "name": "Validate - Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6020,
        420
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE applications SET email_subject='{{ $json.humanized_subject }}', email_body_long='{{ $json.humanized_body }}', ai_detection_score={{ $json.ai_detection_score || 50 }}, humanization_pass=TRUE WHERE application_id='{{ $json.application_id }}'::uuid;"
      },
      "id": "h108",
      "name": "Postgres - Save Email Draft",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        6260,
        420
      ],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $(\"Validate - User Auth\").first().json.email_mode }}",
              "operation": "equals",
              "value2": "AUTO"
            }
          ]
        }
      },
      "id": "h109",
      "name": "IF - Auto Send",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        6500,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const userId = $(\"Validate - User Auth\").first().json.user_id;\nconst hourlyLimit = $(\"Validate - User Auth\").first().json.hourly_email_limit || 10;\nconst dailyLimit = $(\"Validate - User Auth\").first().json.daily_email_limit || 50;\n// These will be checked by DB query in next node\nreturn [{ json: { user_id: userId, hourly_limit: hourlyLimit, daily_limit: dailyLimit, ...$input.first().json } }];"
      },
      "id": "e000",
      "name": "Check - Rate Limit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6740,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT (SELECT COUNT(*) FROM email_dispatch_log WHERE user_id='{{ $json.user_id }}'::uuid AND sent_status='SENT' AND created_at > NOW() - INTERVAL '1 hour') AS hourly_count, (SELECT COUNT(*) FROM email_dispatch_log WHERE user_id='{{ $json.user_id }}'::uuid AND sent_status='SENT' AND created_at > NOW() - INTERVAL '1 day') AS daily_count;"
      },
      "id": "e001",
      "name": "Postgres - Count Recent Sends",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        6980,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const counts = $input.first().json;\nconst prev = $(\"Check - Rate Limit\").first().json;\nif (Number(counts.hourly_count) >= prev.hourly_limit) throw new Error(\"RATE_LIMITED: hourly limit \" + prev.hourly_limit + \" reached (\" + counts.hourly_count + \" sent)\");\nif (Number(counts.daily_count) >= prev.daily_limit) throw new Error(\"RATE_LIMITED: daily limit \" + prev.daily_limit + \" reached (\" + counts.daily_count + \" sent)\");\nreturn [{ json: prev }];"
      },
      "id": "e002",
      "name": "Validate - Rate Limit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7220,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require(\"crypto\");\nconst subj = $json.humanized_subject || $json.email_subject || \"\";\nconst body = $json.humanized_body || $json.email_body_long || \"\";\nconst hash = crypto.createHash(\"sha256\").update(subj + body).digest(\"hex\");\nconst appId = $json.application_id;\nconst userId = $(\"Validate - User Auth\").first().json.user_id;\nconst jobId = $json.job_id || $(\"Validate - Fit\").first().json.job_id;\nconst hrEmail = $json.hr_email || $(\"Validate - Humanized Resume\").first().json.hr_email;\nreturn [{ json: { ...($json), email_body_hash: hash, application_id: appId, user_id: userId, job_id: jobId, recipient_email: hrEmail, subject: subj, body: body } }];"
      },
      "id": "e003",
      "name": "Compute - Email Hash",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7460,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT log_id FROM email_dispatch_log WHERE user_id='{{ $json.user_id }}'::uuid AND job_id='{{ $json.job_id }}'::uuid AND email_body_hash='{{ $json.email_body_hash }}' AND sent_status='SENT' LIMIT 1;"
      },
      "id": "e004",
      "name": "Postgres - Check Duplicate",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        7700,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.log_id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "e005",
      "name": "IF - Already Sent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        7940,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO workflow_logs (user_id, module_name, execution_id, status, output_summary) VALUES ('{{ $(\"Check - Rate Limit\").first().json.user_id }}'::uuid, 'email_dispatch', '={{ $execution.id }}', 'SKIPPED', '{\"reason\": \"duplicate_email\"}'::jsonb);"
      },
      "id": "e006",
      "name": "Log - Skipped Duplicate",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        8180,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "skipped"
            },
            {
              "name": "reason",
              "value": "duplicate_email"
            }
          ],
          "number": []
        },
        "options": {}
      },
      "id": "e007",
      "name": "Set - Skipped",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        8420,
        400
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "sendTo": "={{ $(\"Compute - Email Hash\").first().json.recipient_email }}",
        "subject": "={{ $(\"Compute - Email Hash\").first().json.subject }}",
        "message": "={{ $(\"Compute - Email Hash\").first().json.body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "e010",
      "name": "Gmail - Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        8180,
        200
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "CONFIGURE_ME",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO email_dispatch_log (execution_uuid, user_id, job_id, application_id, company_id, recipient_email, subject, email_body_hash, provider_message_id, thread_id, sent_status) VALUES ('={{ $execution.id }}'::uuid, '{{ $(\"Check - Rate Limit\").first().json.user_id }}'::uuid, '{{ $(\"Compute - Email Hash\").first().json.job_id }}'::uuid, '{{ $(\"Compute - Email Hash\").first().json.application_id }}'::uuid, {{ $(\"Compute - Email Hash\").first().json.company_id ? \"'\" + $(\"Compute - Email Hash\").first().json.company_id + \"'::uuid\" : \"NULL\" }}, '{{ $(\"Compute - Email Hash\").first().json.recipient_email }}', '{{ $(\"Compute - Email Hash\").first().json.subject }}', '{{ $(\"Compute - Email Hash\").first().json.email_body_hash }}', '{{ $json.id || \"\" }}', '{{ $json.threadId || \"\" }}', 'SENT') ON CONFLICT (user_id, job_id, email_body_hash) DO NOTHING;"
      },
      "id": "e015",
      "name": "Postgres - Log Send",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        8420,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE applications SET status='SENT', sent_at=NOW() WHERE application_id='{{ $(\"Compute - Email Hash\").first().json.application_id }}'::uuid;"
      },
      "id": "e016",
      "name": "Postgres - Mark App Sent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        8660,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO workflow_logs (user_id, module_name, execution_id, status, output_summary) VALUES ('{{ $(\"Check - Rate Limit\").first().json.user_id }}'::uuid, 'email_dispatch', '={{ $execution.id }}', 'SUCCESS', '{\"recipient\": \"{{ $(\"Compute - Email Hash\").first().json.recipient_email }}\"}'::jsonb);"
      },
      "id": "e017",
      "name": "Log - Dispatch Success",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        8900,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "module",
              "value": "email_dispatch"
            }
          ],
          "number": []
        },
        "options": {}
      },
      "id": "e018",
      "name": "Set - Dispatch OK",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        9140,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO workflow_logs (user_id, module_name, execution_id, status, output_summary) VALUES ('{{ $(\"Validate - User Auth\").first().json.user_id }}'::uuid, 'job_analysis', '={{ $execution.id }}', 'SUCCESS', '{\"fit_score\": {{ $(\"Validate - Fit\").first().json.fit_score }}, \"result\": \"low_fit\"}'::jsonb);"
      },
      "id": "l100",
      "name": "Log - Low Fit",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        4340,
        840
      ],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "low_fit"
            },
            {
              "name": "fit_score",
              "value": "={{ $(\"Validate - Fit\").first().json.fit_score }}"
            }
          ],
          "number": []
        },
        "options": {}
      },
      "id": "l101",
      "name": "Set - Low Fit OK",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        4580,
        840
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO workflow_logs (user_id, module_name, execution_id, status, output_summary) VALUES ('{{ $(\"Validate - User Auth\").first().json.user_id }}'::uuid, 'email_draft', '={{ $execution.id }}', 'SUCCESS', '{\"mode\": \"draft\", \"application_id\": \"{{ $(\"Postgres - Upsert Application\").first().json.application_id }}\"}'::jsonb);"
      },
      "id": "d100",
      "name": "Log - Draft Saved",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        6740,
        640
      ],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "draft_saved"
            },
            {
              "name": "module",
              "value": "email_draft"
            },
            {
              "name": "application_id",
              "value": "={{ $(\"Postgres - Upsert Application\").first().json.application_id }}"
            }
          ],
          "number": []
        },
        "options": {}
      },
      "id": "d101",
      "name": "Set - Draft OK",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        6980,
        640
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT a.*, j.job_id, c.company_id, c.hr_email FROM applications a JOIN jobs j ON j.job_id = a.job_id JOIN companies c ON c.company_id = j.company_id WHERE a.application_id = '{{ $json._request_body.data.application_id }}'::uuid AND a.user_id = '{{ $json.user_id }}'::uuid LIMIT 1;"
      },
      "id": "m000",
      "name": "Postgres - Fetch Application",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1460,
        1000
      ],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const app = $input.first().json;\nif (!app || !app.application_id) throw new Error(\"Application not found or access denied\");\nif (!app.email_subject || !app.email_body_long) throw new Error(\"Email not yet generated for this application\");\nreturn [{ json: { ...app, humanized_subject: app.email_subject, humanized_body: app.email_body_long, recipient_email: app.hr_email } }];"
      },
      "id": "m001",
      "name": "Validate - Application",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        1000
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO workflow_logs (user_id, module_name, execution_id, status, input_summary) VALUES ('{{ $json.user_id }}'::uuid, 'inbound_email', '={{ $execution.id }}', 'STARTED', '{\"thread_id\": \"{{ $json._request_body.data.thread_id }}\"}'::jsonb);"
      },
      "id": "i000",
      "name": "Log - Inbound Start",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1460,
        1400
      ],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT inbound_id FROM inbound_email_log WHERE user_id='{{ $json.user_id }}'::uuid AND message_id='{{ $json._request_body.data.message_id }}' LIMIT 1;"
      },
      "id": "i001",
      "name": "Postgres - Check Inbound Dup",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1700,
        1400
      ],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.inbound_id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "i002",
      "name": "IF - Inbound Already Processed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1940,
        1400
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "skipped"
            },
            {
              "name": "reason",
              "value": "already_processed"
            }
          ],
          "number": []
        },
        "options": {}
      },
      "id": "i003",
      "name": "Set - Inbound Skipped",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        2180,
        1600
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $(\"Validate - User Auth\").first().json._request_body.data;\nif (!body.thread_id) throw new Error(\"Missing thread_id\");\nif (!body.message_id) throw new Error(\"Missing message_id\");\nif (!body.sender_email) throw new Error(\"Missing sender_email\");\nif (!body.email_body) throw new Error(\"Missing email_body\");\nconst user = $(\"Validate - User Auth\").first().json;\nreturn [{ json: { ...body, user_id: user.user_id, email_mode: user.email_mode } }];"
      },
      "id": "i010",
      "name": "Validate - Inbound Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2180,
        1400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT edl.log_id AS dispatch_log_id, edl.job_id, edl.company_id, edl.recipient_email, edl.subject FROM email_dispatch_log edl WHERE edl.user_id='{{ $json.user_id }}'::uuid AND edl.sent_status='SENT' AND (edl.provider_message_id='{{ $json.thread_id }}' OR edl.provider_message_id='{{ $json.message_id }}') LIMIT 1;"
      },
      "id": "i011",
      "name": "Postgres - Match Thread",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2420,
        1400
      ],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json.email_body || $(\"Validate - Inbound Payload\").first().json.email_body) }}",
        "options": {
          "systemMessage": "You are an intelligent email reply classifier for job applications. Analyze the incoming reply and classify it. Return STRICT JSON matching this schema exactly:\\n{\"reply_type\":string(REQUIRED, one of: INTERVIEW_INVITE, FOLLOW_UP_REQUIRED, REJECTION, INFORMATION_REQUEST, OTHER),\"tone\":string(REQUIRED, e.g. positive, neutral, negative, formal),\"urgency_level\":string(REQUIRED, one of: HIGH, MEDIUM, LOW),\"requires_user_action\":boolean(REQUIRED),\"summary\":string(1-2 sentences summarizing the reply)}\\nReturn ONLY valid JSON. No markdown fences.",
          "returnIntermediateSteps": false
        }
      },
      "id": "i012",
      "name": "AI Agent - Classify Reply",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        2660,
        1400
      ]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\n// AI Agent returns { output: \"...\" }, fallback to Ollama format for compatibility\nconst content = resp.output || (resp.choices && resp.choices[0] && resp.choices[0].message && resp.choices[0].message.content) || JSON.stringify(resp);\nlet p; try { p = JSON.parse(content); } catch(e) { throw new Error(\"Classification invalid JSON: \" + String(content).substring(0,500)); }\nconst validTypes = [\"INTERVIEW_INVITE\",\"FOLLOW_UP_REQUIRED\",\"REJECTION\",\"INFORMATION_REQUEST\",\"OTHER\"];\nif (!validTypes.includes(p.reply_type)) throw new Error(\"Invalid reply_type: \" + p.reply_type);\nif (typeof p.requires_user_action !== \"boolean\") p.requires_user_action = false;\nconst ctx = $(\"Validate - Inbound Payload\").first().json;\nconst thread = $(\"Postgres - Match Thread\").first().json;\np.user_id = ctx.user_id; p.thread_id = ctx.thread_id; p.message_id = ctx.message_id;\np.sender_email = ctx.sender_email; p.email_body = ctx.email_body; p.email_mode = ctx.email_mode;\np.dispatch_log_id = thread.dispatch_log_id || null; p.job_id = thread.job_id || null;\np.company_id = thread.company_id || null; p.subject = ctx.subject || thread.subject || \"\";\np._classification_json = JSON.stringify(p);\np._llm_model = \"ai-agent\"; p._llm_tokens = null;\nreturn [{ json: p }];"
      },
      "id": "i013",
      "name": "Validate - Classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2900,
        1400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO inbound_email_log (execution_uuid, user_id, thread_id, message_id, sender_email, subject, raw_email, reply_type, classification_json, dispatch_log_id, job_id, company_id, processed_at) VALUES ('={{ $execution.id }}'::uuid, '{{ $json.user_id }}'::uuid, '{{ $json.thread_id }}', '{{ $json.message_id }}', '{{ $json.sender_email }}', '{{ $json.subject }}', '{{ $json.email_body }}', '{{ $json.reply_type }}', '{{ $json._classification_json }}'::jsonb, {{ $json.dispatch_log_id ? \"'\" + $json.dispatch_log_id + \"'::uuid\" : \"NULL\" }}, {{ $json.job_id ? \"'\" + $json.job_id + \"'::uuid\" : \"NULL\" }}, {{ $json.company_id ? \"'\" + $json.company_id + \"'::uuid\" : \"NULL\" }}, NOW()) ON CONFLICT (user_id, message_id) DO NOTHING RETURNING inbound_id;"
      },
      "id": "i014",
      "name": "Postgres - Log Inbound",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        3140,
        1400
      ],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $(\"Validate - Classification\").first().json.reply_type }}",
                    "rightValue": "INTERVIEW_INVITE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputIndex": 0
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $(\"Validate - Classification\").first().json.reply_type }}",
                    "rightValue": "FOLLOW_UP_REQUIRED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputIndex": 1
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $(\"Validate - Classification\").first().json.reply_type }}",
                    "rightValue": "INFORMATION_REQUEST",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputIndex": 1
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $(\"Validate - Classification\").first().json.reply_type }}",
                    "rightValue": "REJECTION",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputIndex": 2
            }
          ]
        },
        "fallbackOutput": "extra"
      },
      "id": "i015",
      "name": "Switch - Reply Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        3380,
        1400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_API_URL }}/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"{{ $env.OLLAMA_MODEL }}\",\"max_tokens\":{{ $env.OLLAMA_MAX_TOKENS || 4096 }},\"temperature\":0.5,\"messages\":[{\"role\":\"system\",\"content\":\"You are a professional job applicant writing a follow-up reply. Context: You previously applied for a role and received a response. Generate a contextual, professional reply. Keep it concise (80-120 words). Be helpful, enthusiastic, and specific.\\\\nReturn STRICT JSON: {\\\"reply_subject\\\":string(REQUIRED),\\\"reply_body\\\":string(REQUIRED)}\\\\nReturn ONLY valid JSON.\"},{\"role\":\"user\",\"content\":={{ JSON.stringify(\"Original subject: \" + $(\"Validate - Classification\").first().json.subject + \"\\nReply type: \" + $(\"Validate - Classification\").first().json.reply_type + \"\\nIncoming email: \" + $(\"Validate - Classification\").first().json.email_body) }}}]}",
        "options": {
          "timeout": "={{ Number($env.OLLAMA_TIMEOUT_MS) || 120000 }}"
        }
      },
      "id": "i020",
      "name": "Ollama - Generate Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3620,
        1600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_API_URL }}/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"{{ $env.OLLAMA_MODEL }}\",\"max_tokens\":{{ $env.OLLAMA_MAX_TOKENS || 4096 }},\"temperature\":0.8,\"messages\":[{\"role\":\"system\",\"content\":\"You are a human authenticity editor. Make this reply email sound like a real person. Vary sentence length, use contractions, add one subtle personal touch.\\\\nReturn STRICT JSON: {\\\"ai_detection_score\\\":integer 0-100,\\\"humanized_subject\\\":string(REQUIRED),\\\"humanized_body\\\":string(REQUIRED),\\\"changes_made\\\":[string]}\\\\nReturn ONLY valid JSON.\"},{\"role\":\"user\",\"content\":={{ JSON.stringify($input.first().json.choices[0].message.content) }}}]}",
        "options": {
          "timeout": "={{ Number($env.OLLAMA_TIMEOUT_MS) || 120000 }}"
        }
      },
      "id": "i021",
      "name": "Ollama - Humanize Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3860,
        1600
      ]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nlet p; try { p = JSON.parse(resp.choices[0].message.content); } catch(e) { throw new Error(\"Reply humanize invalid JSON\"); }\nif (!p.humanized_subject) throw new Error(\"Missing humanized_subject\");\nif (!p.humanized_body) throw new Error(\"Missing humanized_body\");\nconst ctx = $(\"Validate - Classification\").first().json;\np.user_id = ctx.user_id; p.job_id = ctx.job_id; p.company_id = ctx.company_id;\np.recipient_email = ctx.sender_email; p.email_mode = ctx.email_mode;\np.subject = p.humanized_subject; p.body = p.humanized_body;\nreturn [{ json: p }];"
      },
      "id": "i022",
      "name": "Validate - Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4100,
        1600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.email_mode }}",
              "operation": "equals",
              "value2": "AUTO"
            }
          ]
        }
      },
      "id": "i023",
      "name": "IF - Auto Reply Send",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4340,
        1600
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "pending_review"
            },
            {
              "name": "module",
              "value": "inbound_auto_reply"
            },
            {
              "name": "reply_type",
              "value": "={{ $(\"Validate - Classification\").first().json.reply_type }}"
            }
          ],
          "number": []
        },
        "options": {}
      },
      "id": "i024",
      "name": "Set - Reply Pending Review",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        4580,
        1800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_API_URL }}/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"{{ $env.OLLAMA_MODEL }}\",\"max_tokens\":{{ $env.OLLAMA_MAX_TOKENS || 4096 }},\"temperature\":0.4,\"messages\":[{\"role\":\"system\",\"content\":\"You are a professional job applicant. Write a brief, polite acknowledgment to a rejection email. Express gratitude for their time, wish them well, and leave the door open. Keep it under 60 words.\\\\nReturn STRICT JSON: {\\\"reply_subject\\\":string(REQUIRED),\\\"reply_body\\\":string(REQUIRED)}\\\\nReturn ONLY valid JSON.\"},{\"role\":\"user\",\"content\":={{ JSON.stringify(\"Subject: \" + $(\"Validate - Classification\").first().json.subject + \"\\nRejection email: \" + $(\"Validate - Classification\").first().json.email_body) }}}]}",
        "options": {
          "timeout": "={{ Number($env.OLLAMA_TIMEOUT_MS) || 120000 }}"
        }
      },
      "id": "i030",
      "name": "Ollama - Rejection Ack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3620,
        1800
      ]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nlet p; try { p = JSON.parse(resp.choices[0].message.content); } catch(e) { throw new Error(\"Rejection ack invalid JSON\"); }\nif (!p.reply_body) throw new Error(\"Missing reply_body\");\nconst ctx = $(\"Validate - Classification\").first().json;\np.user_id = ctx.user_id; p.job_id = ctx.job_id; p.recipient_email = ctx.sender_email;\np.subject = p.reply_subject || \"Re: \" + ctx.subject; p.body = p.reply_body;\nreturn [{ json: p }];"
      },
      "id": "i031",
      "name": "Validate - Rejection Ack",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3860,
        1800
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO workflow_logs (user_id, module_name, execution_id, status, output_summary) VALUES ('{{ $(\"Validate - Classification\").first().json.user_id }}'::uuid, 'inbound_rejection', '={{ $execution.id }}', 'SUCCESS', '{\"reply_type\": \"REJECTION\", \"sender\": \"{{ $(\"Validate - Classification\").first().json.sender_email }}\"}'::jsonb);"
      },
      "id": "i032",
      "name": "Log - Rejection Processed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        4100,
        1800
      ],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "rejection_acknowledged"
            },
            {
              "name": "module",
              "value": "inbound_email"
            }
          ],
          "number": []
        },
        "options": {}
      },
      "id": "i033",
      "name": "Set - Rejection OK",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        4340,
        1800
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO workflow_logs (user_id, module_name, execution_id, status, output_summary) VALUES ('{{ $(\"Validate - Classification\").first().json.user_id }}'::uuid, 'inbound_other', '={{ $execution.id }}', 'SUCCESS', '{\"reply_type\": \"OTHER\", \"requires_user_action\": true}'::jsonb);"
      },
      "id": "i040",
      "name": "Log - Other Inbound",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        3620,
        2000
      ],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "manual_review"
            },
            {
              "name": "module",
              "value": "inbound_email"
            },
            {
              "name": "message",
              "value": "Reply classified as OTHER - requires manual review"
            }
          ],
          "number": []
        },
        "options": {}
      },
      "id": "i041",
      "name": "Set - Manual Review Required",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        3860,
        2000
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_API_URL }}/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"{{ $env.OLLAMA_MODEL }}\",\"max_tokens\":{{ $env.OLLAMA_MAX_TOKENS || 4096 }},\"temperature\":0.1,\"messages\":[{\"role\":\"system\",\"content\":\"You are an interview details extractor. Extract scheduling information from the email.\\\\nReturn STRICT JSON matching this schema exactly:\\\\n{\\\"interview_date\\\":string(REQUIRED, ISO 8601 format YYYY-MM-DD),\\\"interview_time\\\":string(REQUIRED, HH:MM 24h format),\\\"timezone\\\":string(default \\\"UTC\\\"),\\\"interview_mode\\\":string(REQUIRED, one of: VIRTUAL, IN_PERSON, PHONE),\\\"meeting_link\\\":string|null,\\\"interviewer_name\\\":string|null,\\\"interviewer_email\\\":string|null,\\\"location\\\":string|null,\\\"duration_minutes\\\":integer(default 60),\\\"additional_notes\\\":string|null}\\\\nReturn ONLY valid JSON. No markdown fences.\"},{\"role\":\"user\",\"content\":={{ JSON.stringify($(\"Validate - Classification\").first().json.email_body) }}}]}",
        "options": {
          "timeout": "={{ Number($env.OLLAMA_TIMEOUT_MS) || 120000 }}"
        }
      },
      "id": "iv000",
      "name": "Ollama - Extract Interview",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3620,
        1200
      ]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst content = resp.choices[0].message.content;\nlet p; try { p = JSON.parse(content); } catch(e) { throw new Error(\"Interview extract invalid JSON: \" + content.substring(0,500)); }\nif (!p.interview_date || !p.interview_time) throw new Error(\"Missing interview_date or interview_time\");\nconst validModes = [\"VIRTUAL\",\"IN_PERSON\",\"PHONE\"];\nif (!validModes.includes(p.interview_mode)) p.interview_mode = \"VIRTUAL\";\np.duration_minutes = p.duration_minutes || 60;\np.timezone = p.timezone || \"UTC\";\nconst ctx = $(\"Validate - Classification\").first().json;\np.user_id = ctx.user_id; p.job_id = ctx.job_id; p.company_id = ctx.company_id;\np.sender_email = ctx.sender_email; p.email_mode = ctx.email_mode;\np.subject = ctx.subject;\np.interviewer_email = p.interviewer_email || ctx.sender_email;\np._llm_model = resp.model || \"\";\nreturn [{ json: p }];"
      },
      "id": "iv001",
      "name": "Validate - Interview Details",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3860,
        1200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT interview_id FROM interview_log WHERE user_id='{{ $json.user_id }}'::uuid AND job_id='{{ $json.job_id }}'::uuid AND interview_datetime='{{ $json.interview_date }}T{{ $json.interview_time }}:00'::timestamptz LIMIT 1;"
      },
      "id": "iv002",
      "name": "Postgres - Check Dup Interview",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        4100,
        1200
      ],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.interview_id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "iv003",
      "name": "IF - Interview Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4340,
        1200
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "skipped"
            },
            {
              "name": "reason",
              "value": "duplicate_interview"
            }
          ],
          "number": []
        },
        "options": {}
      },
      "id": "iv004",
      "name": "Set - Interview Dup Skipped",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        4580,
        1000
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list"
        },
        "start": "={{ $(\"Validate - Interview Details\").first().json.interview_date + \"T\" + $(\"Validate - Interview Details\").first().json.interview_time + \":00\" }}",
        "end": "={{ (function() { const d = new Date($(\"Validate - Interview Details\").first().json.interview_date + \"T\" + $(\"Validate - Interview Details\").first().json.interview_time + \":00\"); d.setMinutes(d.getMinutes() + ($(\"Validate - Interview Details\").first().json.duration_minutes || 60)); return d.toISOString(); })() }}",
        "additionalFields": {
          "summary": "=Interview: {{ $(\"Validate - Classification\").first().json.subject }}",
          "description": "=Interview Details\\nCompany: {{ $(\"Validate - Classification\").first().json.company_id }}\\nInterviewer: {{ $(\"Validate - Interview Details\").first().json.interviewer_name || \"TBD\" }}\\nContact: {{ $(\"Validate - Interview Details\").first().json.interviewer_email }}\\nMode: {{ $(\"Validate - Interview Details\").first().json.interview_mode }}\\nLink: {{ $(\"Validate - Interview Details\").first().json.meeting_link || \"N/A\" }}\\nLocation: {{ $(\"Validate - Interview Details\").first().json.location || \"N/A\" }}\\nNotes: {{ $(\"Validate - Interview Details\").first().json.additional_notes || \"None\" }}",
          "attendees": "={{ $(\"Validate - Interview Details\").first().json.interviewer_email }}",
          "visibility": "private",
          "reminders": {
            "reminderValues": [
              {
                "method": "popup",
                "minutes": 30
              }
            ]
          },
          "timeZone": "={{ $(\"Validate - Interview Details\").first().json.timezone || \"UTC\" }}"
        }
      },
      "id": "iv005",
      "name": "Google Calendar - Create Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 3,
      "position": [
        4580,
        1200
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "CONFIGURE_ME",
          "name": "Google Calendar"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO interview_log (user_id, job_id, company_id, inbound_id, calendar_event_id, interview_datetime, end_datetime, timezone, interview_mode, meeting_link, location, interviewer_name, interviewer_email, status, notes) VALUES ('{{ $(\"Validate - Interview Details\").first().json.user_id }}'::uuid, '{{ $(\"Validate - Interview Details\").first().json.job_id }}'::uuid, {{ $(\"Validate - Interview Details\").first().json.company_id ? \"'\" + $(\"Validate - Interview Details\").first().json.company_id + \"'::uuid\" : \"NULL\" }}, {{ $(\"Postgres - Log Inbound\").first().json.inbound_id ? \"'\" + $(\"Postgres - Log Inbound\").first().json.inbound_id + \"'::uuid\" : \"NULL\" }}, '{{ $json.id || $json.iCalUID || \"\" }}', '{{ $(\"Validate - Interview Details\").first().json.interview_date }}T{{ $(\"Validate - Interview Details\").first().json.interview_time }}:00'::timestamptz, '{{ $(\"Validate - Interview Details\").first().json.interview_date }}T{{ $(\"Validate - Interview Details\").first().json.interview_time }}:00'::timestamptz + INTERVAL '{{ $(\"Validate - Interview Details\").first().json.duration_minutes || 60 }} minutes', '{{ $(\"Validate - Interview Details\").first().json.timezone }}', '{{ $(\"Validate - Interview Details\").first().json.interview_mode }}', '{{ $(\"Validate - Interview Details\").first().json.meeting_link || \"\" }}', '{{ $(\"Validate - Interview Details\").first().json.location || \"\" }}', '{{ $(\"Validate - Interview Details\").first().json.interviewer_name || \"\" }}', '{{ $(\"Validate - Interview Details\").first().json.interviewer_email }}', 'SCHEDULED', '{{ $(\"Validate - Interview Details\").first().json.additional_notes || \"\" }}') ON CONFLICT (user_id, job_id, interview_datetime) DO NOTHING RETURNING interview_id;"
      },
      "id": "iv006",
      "name": "Postgres - Log Interview",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        4820,
        1200
      ],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE jobs SET status='INTERVIEW', updated_at=NOW() WHERE job_id='{{ $(\"Validate - Interview Details\").first().json.job_id }}'::uuid;"
      },
      "id": "iv007",
      "name": "Postgres - Update Job Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        5060,
        1200
      ],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_API_URL }}/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"{{ $env.OLLAMA_MODEL }}\",\"max_tokens\":{{ $env.OLLAMA_MAX_TOKENS || 4096 }},\"temperature\":0.5,\"messages\":[{\"role\":\"system\",\"content\":\"You are a professional job applicant. Write a concise interview confirmation email (80-120 words). Confirm date, time, and mode. Express enthusiasm. Ask if anything needs to be prepared.\\\\nReturn STRICT JSON: {\\\"reply_subject\\\":string(REQUIRED),\\\"reply_body\\\":string(REQUIRED)}\\\\nReturn ONLY valid JSON.\"},{\"role\":\"user\",\"content\":={{ JSON.stringify(\"Interview date: \" + $(\"Validate - Interview Details\").first().json.interview_date + \" \" + $(\"Validate - Interview Details\").first().json.interview_time + \"\\nMode: \" + $(\"Validate - Interview Details\").first().json.interview_mode + \"\\nInterviewer: \" + ($(\"Validate - Interview Details\").first().json.interviewer_name || \"Hiring Manager\") + \"\\nOriginal email: \" + $(\"Validate - Classification\").first().json.email_body) }}}]}",
        "options": {
          "timeout": "={{ Number($env.OLLAMA_TIMEOUT_MS) || 120000 }}"
        }
      },
      "id": "iv008",
      "name": "Ollama - Confirmation Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        5300,
        1200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_API_URL }}/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"{{ $env.OLLAMA_MODEL }}\",\"max_tokens\":{{ $env.OLLAMA_MAX_TOKENS || 4096 }},\"temperature\":0.8,\"messages\":[{\"role\":\"system\",\"content\":\"You are a human authenticity editor. Make this reply email sound like a real person. Vary sentence length, use contractions, add one subtle personal touch.\\\\nReturn STRICT JSON: {\\\"ai_detection_score\\\":integer 0-100,\\\"humanized_subject\\\":string(REQUIRED),\\\"humanized_body\\\":string(REQUIRED),\\\"changes_made\\\":[string]}\\\\nReturn ONLY valid JSON.\"},{\"role\":\"user\",\"content\":={{ JSON.stringify($input.first().json.choices[0].message.content) }}}]}",
        "options": {
          "timeout": "={{ Number($env.OLLAMA_TIMEOUT_MS) || 120000 }}"
        }
      },
      "id": "iv009",
      "name": "Ollama - Humanize Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        5540,
        1200
      ]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nlet p; try { p = JSON.parse(resp.choices[0].message.content); } catch(e) { throw new Error(\"Confirmation humanize invalid JSON\"); }\nif (!p.humanized_body) throw new Error(\"Missing humanized_body\");\nconst ctx = $(\"Validate - Interview Details\").first().json;\np.user_id = ctx.user_id; p.job_id = ctx.job_id;\np.recipient_email = ctx.interviewer_email;\np.subject = p.humanized_subject || \"Re: \" + ctx.subject; p.body = p.humanized_body;\np.email_mode = ctx.email_mode;\nreturn [{ json: p }];"
      },
      "id": "iv010",
      "name": "Validate - Confirmation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5780,
        1200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.email_mode }}",
              "operation": "equals",
              "value2": "AUTO"
            }
          ]
        }
      },
      "id": "iv011",
      "name": "IF - Auto Confirm Send",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        6020,
        1200
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "pending_review"
            },
            {
              "name": "module",
              "value": "interview_confirmation"
            }
          ],
          "number": []
        },
        "options": {}
      },
      "id": "iv012",
      "name": "Set - Confirm Pending Review",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        6260,
        1000
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO workflow_logs (user_id, module_name, execution_id, status, output_summary) VALUES ('{{ $(\"Validate - Interview Details\").first().json.user_id }}'::uuid, 'interview_scheduling', '={{ $execution.id }}', 'SUCCESS', '{\"interview_date\": \"{{ $(\"Validate - Interview Details\").first().json.interview_date }}\", \"mode\": \"{{ $(\"Validate - Interview Details\").first().json.interview_mode }}\"}'::jsonb);"
      },
      "id": "iv013",
      "name": "Log - Interview Success",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        6260,
        1200
      ],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "interview_scheduled"
            },
            {
              "name": "module",
              "value": "interview_scheduling"
            }
          ],
          "number": []
        },
        "options": {}
      },
      "id": "iv014",
      "name": "Set - Interview Scheduled OK",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        6500,
        1200
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "IF - Auth Secret",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Auth Secret": {
      "main": [
        [
          {
            "node": "Postgres - Validate User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set - 401",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Validate User": {
      "main": [
        [
          {
            "node": "Validate - User Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate - User Auth": {
      "main": [
        [
          {
            "node": "Switch - Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Router": {
      "main": [
        [
          {
            "node": "Log - Resume Start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log - Job Start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres - Fetch Application",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log - Inbound Start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set - 400 Bad Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log - Resume Start": {
      "main": [
        [
          {
            "node": "Exec - Extract Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exec - Extract Resume": {
      "main": [
        [
          {
            "node": "Validate - Resume Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate - Resume Text": {
      "main": [
        [
          {
            "node": "Ollama - Structure Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama - Structure Resume": {
      "main": [
        [
          {
            "node": "Validate - Resume Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate - Resume Schema": {
      "main": [
        [
          {
            "node": "Postgres - Upsert User Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Upsert User Resume": {
      "main": [
        [
          {
            "node": "Log - Resume Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log - Resume Success": {
      "main": [
        [
          {
            "node": "Set - Resume OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log - Job Start": {
      "main": [
        [
          {
            "node": "Exec - Scrape Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exec - Scrape Job": {
      "main": [
        [
          {
            "node": "Validate - Scrape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate - Scrape": {
      "main": [
        [
          {
            "node": "Ollama - Normalize Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama - Normalize Job": {
      "main": [
        [
          {
            "node": "Validate - Job Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate - Job Schema": {
      "main": [
        [
          {
            "node": "Postgres - Upsert Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Upsert Company": {
      "main": [
        [
          {
            "node": "Postgres - Upsert Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Upsert Job": {
      "main": [
        [
          {
            "node": "Merge - Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge - Context": {
      "main": [
        [
          {
            "node": "Ollama - Analyze Fit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama - Analyze Fit": {
      "main": [
        [
          {
            "node": "Validate - Fit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate - Fit": {
      "main": [
        [
          {
            "node": "Postgres - Save Fit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Save Fit": {
      "main": [
        [
          {
            "node": "IF - High Fit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - High Fit": {
      "main": [
        [
          {
            "node": "Ollama - Tailor Resume",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log - Low Fit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama - Tailor Resume": {
      "main": [
        [
          {
            "node": "Validate - Tailor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate - Tailor": {
      "main": [
        [
          {
            "node": "Ollama - Humanize Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama - Humanize Resume": {
      "main": [
        [
          {
            "node": "Validate - Humanized Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate - Humanized Resume": {
      "main": [
        [
          {
            "node": "Postgres - Upsert Application",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Upsert Application": {
      "main": [
        [
          {
            "node": "Ollama - Draft Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama - Draft Email": {
      "main": [
        [
          {
            "node": "Ollama - Humanize Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama - Humanize Email": {
      "main": [
        [
          {
            "node": "Validate - Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate - Email": {
      "main": [
        [
          {
            "node": "Postgres - Save Email Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Save Email Draft": {
      "main": [
        [
          {
            "node": "IF - Auto Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Auto Send": {
      "main": [
        [
          {
            "node": "Check - Rate Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log - Draft Saved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check - Rate Limit": {
      "main": [
        [
          {
            "node": "Postgres - Count Recent Sends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Count Recent Sends": {
      "main": [
        [
          {
            "node": "Validate - Rate Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate - Rate Limit": {
      "main": [
        [
          {
            "node": "Compute - Email Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute - Email Hash": {
      "main": [
        [
          {
            "node": "Postgres - Check Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Check Duplicate": {
      "main": [
        [
          {
            "node": "IF - Already Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Already Sent": {
      "main": [
        [
          {
            "node": "Log - Skipped Duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail - Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log - Skipped Duplicate": {
      "main": [
        [
          {
            "node": "Set - Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Send Email": {
      "main": [
        [
          {
            "node": "Postgres - Log Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Log Send": {
      "main": [
        [
          {
            "node": "Postgres - Mark App Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Mark App Sent": {
      "main": [
        [
          {
            "node": "Log - Dispatch Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log - Dispatch Success": {
      "main": [
        [
          {
            "node": "Set - Dispatch OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log - Low Fit": {
      "main": [
        [
          {
            "node": "Set - Low Fit OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log - Draft Saved": {
      "main": [
        [
          {
            "node": "Set - Draft OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Fetch Application": {
      "main": [
        [
          {
            "node": "Validate - Application",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate - Application": {
      "main": [
        [
          {
            "node": "Check - Rate Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log - Inbound Start": {
      "main": [
        [
          {
            "node": "Postgres - Check Inbound Dup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Check Inbound Dup": {
      "main": [
        [
          {
            "node": "IF - Inbound Already Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Inbound Already Processed": {
      "main": [
        [
          {
            "node": "Set - Inbound Skipped",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validate - Inbound Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate - Inbound Payload": {
      "main": [
        [
          {
            "node": "Postgres - Match Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Match Thread": {
      "main": [
        [
          {
            "node": "AI Agent - Classify Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Classify Reply": {
      "main": [
        [
          {
            "node": "Validate - Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate - Classification": {
      "main": [
        [
          {
            "node": "Postgres - Log Inbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Log Inbound": {
      "main": [
        [
          {
            "node": "Switch - Reply Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Reply Type": {
      "main": [
        [
          {
            "node": "Ollama - Extract Interview",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ollama - Generate Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ollama - Rejection Ack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log - Other Inbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama - Generate Reply": {
      "main": [
        [
          {
            "node": "Ollama - Humanize Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama - Humanize Reply": {
      "main": [
        [
          {
            "node": "Validate - Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate - Reply": {
      "main": [
        [
          {
            "node": "IF - Auto Reply Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Auto Reply Send": {
      "main": [
        [
          {
            "node": "Check - Rate Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set - Reply Pending Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama - Rejection Ack": {
      "main": [
        [
          {
            "node": "Validate - Rejection Ack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate - Rejection Ack": {
      "main": [
        [
          {
            "node": "Log - Rejection Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log - Rejection Processed": {
      "main": [
        [
          {
            "node": "Set - Rejection OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log - Other Inbound": {
      "main": [
        [
          {
            "node": "Set - Manual Review Required",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama - Extract Interview": {
      "main": [
        [
          {
            "node": "Validate - Interview Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate - Interview Details": {
      "main": [
        [
          {
            "node": "Postgres - Check Dup Interview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Check Dup Interview": {
      "main": [
        [
          {
            "node": "IF - Interview Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Interview Exists": {
      "main": [
        [
          {
            "node": "Set - Interview Dup Skipped",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Calendar - Create Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar - Create Event": {
      "main": [
        [
          {
            "node": "Postgres - Log Interview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Log Interview": {
      "main": [
        [
          {
            "node": "Postgres - Update Job Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Update Job Status": {
      "main": [
        [
          {
            "node": "Ollama - Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama - Confirmation Email": {
      "main": [
        [
          {
            "node": "Ollama - Humanize Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama - Humanize Confirmation": {
      "main": [
        [
          {
            "node": "Validate - Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate - Confirmation": {
      "main": [
        [
          {
            "node": "IF - Auto Confirm Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Auto Confirm Send": {
      "main": [
        [
          {
            "node": "Check - Rate Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set - Confirm Pending Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Confirm Pending Review": {
      "main": [
        [
          {
            "node": "Log - Interview Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log - Interview Success": {
      "main": [
        [
          {
            "node": "Set - Interview Scheduled OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    {
      "name": "production"
    },
    {
      "name": "multi-user"
    },
    {
      "name": "email-dispatch"
    },
    {
      "name": "ollama"
    }
  ]
}
